# Add account credentials and API keys here.
# This file should be listed in .gitignore to keep your settings secret!
# Each entry sets a local environment variable.
# For example, setting:
# GMAIL_USERNAME=Your_Gmail_Username
# makes 'Your_Gmail_Username' available as ENV["GMAIL_USERNAME"]

OMNIAUTH_PROVIDER_KEY=Your_Provider_Key
OMNIAUTH_PROVIDER_SECRET=Your_Provider_Secret
GOOGLE_APP_DOMAIN=newsdesk.se
TRELLO_API_KEY=xxx
TRELLO_API_TOKEN=yyy
TRELLO_ORGANIZATION_ID=zzz
WEBHOOK_DOMAIN=http://trello.zoeetrope.ultrahook.com
NEW_RELIC_LICENSE_KEY=xyz
