<div class="jumbotron text-center">
  <h1><%= t('.title') %></h1>
  <p><%= t('.tagline') %></p>
  <% unless current_user %>
    <br/><br/>
    <%= link_to t('.signin'), signin_path, class: 'btn btn-lg btn-success' %>
  <% end %>
</div>

<%= render partial: 'inboxes' if current_user %>
