#activity {
  h2 {
    margin-top: 0;

    .label {
      display: block;
      font-size: 14px;
      padding: 10px;
      background-color: #333;
    }
  }

  #activities {
    .date {
      font-size: 11px;
      color: $gray-light;
      margin-bottom: 20px;
    }
  }
}
