#comment-form {
  margin-bottom: 30px;
}

#comments {
  li {
    background: #fff;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    min-height: 60px;

    p {
      margin: 0;
    }

    .comment-header {
      float: left;

      > div {
        white-space: nowrap;
        margin-left: 40px;
        margin-right: 20px;
        padding-right: 30px;
        border-right: 1px solid #d9d9d9;
      }

      .avatar {
        height: 40px;
        width: 40px;
        float: left;
        margin-right: 10px;
      }

      .name {
        font-weight: bold;
        margin-bottom: 0;
      }

      .date {
        color: $gray-light;
      }
    }
  }
}
