.flex-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  .flex-child {
    flex: 0 1 100%;

    @media(min-width: $screen-sm-min) {
      flex-basis: 50%;
    }

    @media(min-width: $screen-md-min) {
      flex-basis: 33%;
    }
  }

  .fill-height {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }
}

